{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <link rel="stylesheet" type="text/css" href="{% static 'BudgetApp/styles.css' %}">
</head>
<body>
    <div class="form">
    <form class='form1' action="{% url 'addPayments' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-outline-secondary btn-sm" value="submit">
    </form> 
    </div>
</body>
