{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'BudgetApp/styles.css' %}">
    <title>Budget App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    

        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col block">
            <div class="well">
                <div class='block1'>
                <p>Budget App</p>
                </div>
            </div>
            <div class="row">
                <div class="col balance">
                    <div class="well">
                        <h2>Balance: {{leftmoney}}  €</h2>
                        <h4>Total Income: {{totalincome}} €</h4>
                        <h4>Total Expenses: {{totalpayments}} €</h4>
                    </div>
                </div>
                <div class="col picture">
                    <div class="well">
                       <img src="/pie_plot/" height="250px"/> 
                    </div>
                </div>
            </div>       
            <div class="row">
                <div class="col">
                    
                    <h5><img class='icon' src="{% static 'BudgetApp/expense.png' %}"> Your Expenses</h5>
                    <form method="POST" action="{% url 'addPayments' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary add" style="width:fit-content; padding: 4px; margin:10px;">Add</button>
                    </form> 
                    {%for payment in payments %}
                    <div class="well">    
                        <div class="payment">
                            <div class="delete-form">
                                <form action="/removePayment/{{payment.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="X" class="button btn-outline-secondary btn-sm">
                                </form>   
                            </div>
                            <h3>{{payment.category}} </h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col" >
                                        <p>{{payment.payment_name}} <span class='date'>{{payment.date_added|date:"d M Y"}}</span></p>
                                    </div>
                                    <div id='cost'class="col" >
                                        <p> {{payment.cost}} €</p>
                                    </div>          
                                </div>
                            </div>      
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="col">
                    
                    <h5><img class='icon' src="{% static 'BudgetApp/income.png' %}"> Your Income</h5>
                    <form method="POST" action="{% url 'addIncome' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary add" style="width:fit-content; padding: 4px; margin:10px;">Add</button>
                    </form>
                        {%for income in allincome %}
                    <div class="well">
                        <div class="payment">
                            <div class="delete-form">
                                <form action="/removeIncome/{{income.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="X" class="button btn-outline-secondary btn-sm">
                                </form>   
                            </div>
                            <h3>{{income.category}} </h3>         
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <p>{{income.income_name}} <span class='date'>{{income.date_added|date:"d M Y"}}</span></p>
                                    </div>
                                    <div id='amount' class="col">
                                        <p> {{income.amount}} €</p>
                                    </div>          
                                </div>  
                            </div>
                        </div>  
                                
                         
                    </div>
                    {%endfor%}  
                </div>
            </div>            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>