{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Budget App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    

        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    </style>
</head>
<body>
    <div class="container-fluid block">
        <div class="col">
            <div class="well">
                <div class='block1'>
                <h3>Hi!</h3>
                <h5>Welcome to the Budget App.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="well">
                        <h2 class="jumbotron">
                        Balance: {{leftmoney}} 
                        </h2>
                    </div>
                </div>
                <div class="col">
                    <div class="well">
                       <img src="/pie_plot/" height="250px"/> 
                    </div>
                </div>
            </div>       
            <div class="row">
                <div class="col">
                    <div class="well">

                        <form method="POST" action="{% url 'addPayments' %}">
                            {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add Expense</button>
                        </form> 

                        {%for payment in payments %}
                             
                        <div >
                            <h5 class="card-title">
                                <a href='{{payment.link}}'><h3>{{payment.payment_name}}</h3></a> 
                            </h5>        
                            <div >
                                <p>{{payment.date_added|date:"d M Y"}}</p>
                                <hr>
                                <p> Cost: {{payment.cost}}</p>
                                <p> Category: {{payment.category}}</p>
                                <hr>                
                                <form action="/removePayment/{{payment.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-secondary btn-lg" style="background-color: #747C8C; width:fit-content; padding: 4px; margin:10px; font: 20px Montserrat, sans-serif;">
                                </form>     
                            </div>
                        </div>
                                
                        {%endfor%}
                    </div>
                </div>

                <div class="col">
                    <div class="well">
                        <form method="POST" action="{% url 'addIncome' %}">
                            {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add Income</button>
                        </form>

                           {%for income in allincome %}
                                
                        <div>
                            <h5 class="card-title">
                                <a href='{{income.link}}'><h3>{{income.income_name}}</h3></a> 
                            </h5>        
                            <div >
                                <p>{{income.date_added|date:"d M Y"}}</p>
                                <hr>
                                <p> Amount: {{income.amount}}</p>
                                <hr> 
                                <form action="/removeIncome/{{income.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-secondary btn-lg" style="background-color: #747C8C; width:fit-content; padding: 4px; margin:10px; font: 20px Montserrat, sans-serif;">
                                </form>    
                            </div>
                        </div>
                                
                         {%endfor%}  
                    </div>
                </div>
            </div> 
              
                       
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>